/* Дизайн система */

@import url("./styles/design-system.css");

.content {
    justify-content: center;
}

/* Маркетинг */

.marketing {
    padding: 0
}

@media (max-width: 780px) {
    .marketing-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.marketing-content {
    padding: 80px 0;
}

@media (max-width: 780px) {
    .marketing-content {
        padding: 0;
    }
}

.marketing-title {
    font-size: clamp(24px, 1.698vw + 15.55px, 32px);
}

.marketing-subtitle {
    font-size: clamp(var(--fs-xs), calc(1.25vw + 9px), var(--fs-md-max));
    line-height: 1.2;
}

.marketing-content a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 16px 58.5px;

}

@media (max-width: 780px) {
    .marketing-content {
        -ms-flex-item-align: normal;
        -ms-grid-row-align: normal;
        align-self: normal;
    }

    .marketing-content a {
        width: 100%;
    }
}

/*
.marketing-wrapper .card_suggestion-image {
    align-self: start;
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 1040px) {
        padding: 20px 20px 0 20px;
        max-height: 247px;
        aspect-ratio: 1.185 / 1;
    }

    @media (max-width: 550px) {
        padding: 20px 20px 0 20px;
        max-width: 198px;
        max-height: 167px;
    }
}
*/

.marketing-wrapper .card_suggestion-image {
    margin-left: 40px;
}

@media (max-width: 780px) {
    .marketing-wrapper .card_suggestion-image {
        margin: 0;
        -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    }
}

.marketing-image {
    display: block;
    aspect-ratio: calc(484 / 381);
    min-width: clamp(316px, calc(316px + 168 * ((100vw - 810px) / 520)), 484px);
}

@media (max-width: 1040px) {
    .marketing-image {
        max-width: 258px;
        min-width: 258px;
    }
}

@media (max-width: 600px) {
    .marketing-image {
        max-width: 198px;
        min-width: 198px;
    }
}
