/* Дизайн система */

@import url("./styles/design-system.css");

/* Шапка */

.start_page {
    z-index: 900;
    position: sticky;
    top: 0;
}

.header {
    position: initial;
}

/* Контент */

/* Карточки */

.package_tours-card {
    position: relative;
    grid-column: auto;
    grid-row: auto;
}