/* Дизайн система */

@import url("./styles/design-system.css");

/* Шапка */

.start_page {

}

.header {
    position: fixed;
    top: 0;
}

/* Контент */

/* Карточки */

.grid {
}

@media (max-width: 1140px) {
    .grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 690px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
}

.package_tours-card {
    position: relative;
    grid-column: auto;
    grid-row: auto;
}