/* Дизайн система */

@import url("./styles/design-system.css");

/* Стартовая секция */

.start_page {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/header/header-background.jpg") no-repeat 0% 85%;
    background-size: 141%;

    @media (max-width: 1140px) {
        background-size: cover;
        background-position: center center;
    };
}

/* Топ контент */

.top_content {
    /* margin вычисляется в скриптах */
    padding-top: clamp(42px, calc(6.33vw + 14px), 80px);
    padding-bottom: clamp(42px, calc(6.33vw + 14px), 80px);
}

.top_content-title {
    color: var(--color-ligth);
    margin-bottom: 16px;

    @media (min-width: 600px) {
        margin-bottom: 22px;
    };

    @media (min-width: 900px) {
        margin-bottom: 28px;
    };
}

.top_content-subtitle {
    color: var(--color-ligth);
}

.top_content-button {
    margin: 46px 0;

    @media (max-width: 600px) {
        margin: 42px 0;
    };

    @media (max-width: 900px) {
        margin-bottom: 44px;
    };
}

.top_content-button.top {
    display: block;

    @media (max-width: 600px) {
        display: none;
    };
}

.top_content-button.bottom {
    display: none;

    @media (max-width: 600px) {
        display: block;
    };
}

.top_content-suggestions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 28px;

    @media (min-width: 600px) {
        gap: calc(42px / 1.5);
        flex-direction: row;
        margin-top: 0;
    };

    @media (min-width: 900px) {
        gap: 42px;
        flex-direction: row;
    };
}

.top_content-suggestion {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (min-width: 600px) {
        gap: 10px;
    };

    @media (min-width: 900px) {
        gap: 20px;
    };
}

.top_content-suggestion-title, .top_content-suggestion-description {
    color: var(--color-ligth);
}

.top_content-suggestion-title {

}

.top_content-suggestion-description {

}

.top_content-contacts {
    display: none;
    align-items: center;
    gap: 20px;

    @media (max-width: 600px) {
        display: flex;;
    };
}

.top_content-contacts img {
    height: 32px;
}

.top_content-contacts a {
    color: var(--color-ligth);
}

/* Авторские туры */

.author_tours {

}

.author_tours-title {

}

.author_tours-subtitle {

}

.author_tours-carousel {
}

.author_tours-carousel .swiper-wrapper {
    display: flex;
}

.author_tours-card {
    display: block;
}

.author_tours-card-image {
    /*width: clamp(207px, calc(20vw + 137px), 410px);*/
    height: clamp(231px, calc(20vw + 137px), 493px);
    max-width: 100%;
    overflow: hidden;
    position: relative;

}

.author_tours-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.author_tours-descriptions {
    --line-height: 1.4;

    margin-top: auto;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(3em * var(--line-height));
}

.author_tours-suggestions {
    background-color: var(--color-beige);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 31px 36px;
    align-items: center;
}

.author_tours-suggestions h3 {
    grid-column: 1 / span 7;
    margin: 0;
}

.author_tours-suggestions button {
    grid-column: 10 / span 3;
    margin-left: auto;
    /*width: 100%;*/
}

@media (max-width: 1220px) {
    .author_tours-suggestions h3 {
        grid-column: 1 / span 8;
    }

    .author_tours-suggestions button {
        grid-column: 9 / span 5;
        margin-left: auto;
    }
}

@media (max-width: 875px) {
    .author_tours-suggestions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .author_tours-suggestions h3 {
        width: 100%;
        line-height: 1.4;
    }

    .author_tours-suggestions button {
        width: 100%;
        margin-left: 0;
    }
}

/* Маркетинг */

.marketing {
    padding-top: 0;
    padding-bottom: 0;
}

.marketing-content {
}

.marketing-title {

}

.marketing-subtitle {
    font-size: var(--fs-md-max);
    line-height: 1.2;
}

.marketing-content button {
    padding: 16px 58.5px;
}

.marketing-image {
    min-width: 484px;
    display: block;
}

/* Готовые */

.package_tours {

}

.package_tours-subtitle {

}

.package_tours-filter {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.package_tours-carousel {

}

.package_tours-carousel .swiper-wrapper {
    display: flex;
}

.package_tours-card {
    display: block;
}

.package_tours-card {
    transition: all 0.3s ease;
}

.package_tours-card[style*="display: none"] {
    display: none !important;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
}

.package_tours-card-image {
    height: clamp(118.79px, calc(20vw + 137px), 242px);
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.package_tours-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.package_tours-descriptions {
    --line-height: 1.4;

    margin-top: auto;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(2em * var(--line-height));
}

.package_tours-suggestions {
    background-color: var(--color-beige);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 31px 36px;
    align-items: center;
}

.package_tours-suggestions h3 {
    grid-column: 1 / span 7;
    margin: 0;
}

.package_tours-suggestions button {
    grid-column: 10 / span 3;
    margin-left: auto;
}

@media (max-width: 1220px) {
    .package_tours-suggestions h3 {
        grid-column: 1 / span 8;
    }

    .package_tours-suggestions button {
        grid-column: 9 / span 5;
        margin-left: auto;
    }
}

@media (max-width: 875px) {
    .package_tours-suggestions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .package_tours-suggestions h3 {
        width: 100%;
        line-height: 1.4;
    }

    .package_tours-suggestions button {
        width: 100%;
        margin-left: 0;
    }
}

/* Эксклюзивные предложения */

.exclusive_offers {
}

.exclusive_offers-grid {
    gap: 0 !important;
}

.exclusive_offers h2 {
    margin-bottom: 28px;
}

.exclusive_offers-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.exclusive_offers-card {
    padding: 0;
    flex: 1;
}

.exclusive_offers-card-content {
    padding: 20px;
}

.exclusive_offers-card-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.exclusive_offers-card-title, .exclusive_offers-card-subtitle {
    line-height: 1.4;
}

/* Отзывы клиентов */

.feedback {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/feedback/background.jpg") no-repeat 0% 85%;
    background-size: 141%;

    @media (max-width: 1140px) {
        background-size: cover;
        background-position: center center;
    };

    padding: 75px 0;
}

.feedback-card {
    flex: 1;
    height: auto;
    padding: 18px 31px;
}

.feedback-card .card-content {
    margin: 0;
}

.feedback-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feedback-title {
    color: var(--color-ligth);
    margin: 0;
}

.feedback-carousel {
    display: flex;
    gap: 8px;
}

.feedback-card-title {
    font-family: var(--fm-base);
    font-weight: 300;
}

.feedback-card-descriptions {
    flex: 1;
    font-size: var(--fs-xs);
}

.feedback-rating {
    display: flex;
    gap: 19px;
}

.feedback-rating-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-rating-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.feedback-rating-info-person {
    font-size: 14px;
}


