/* Нормализация */

@import url("./styles/normalize.css");

/* Шрифты */

@import url("./styles/fonts.css");

/* Переменные */

@import url("./styles/variables.css");

/* Карточка */

@import url("./styles/card.css");

/* Swiper */

@import url("./styles/swiper.css");

/* Body */

body {
    font-family: var(--fm-base);
    line-height: 1.4;
    font-weight: 300;

    color: var(--color-accent);
    background-color: var(--color-ligth);

    display: flex;
    flex-direction: column;
    gap: clamp(42px, calc(6.33vw + 14px), 80px);

    font-size: clamp(var(--fs-xs), 2.5vw, var(--fs-md));
    overflow-x: hidden;
}

/* Контейнер */

.container {
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Заголовки */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fm-title);
    line-height: 1.1;
    font-weight: 700;
    color: var(--color-accent);
    margin: 0;
}

h1 {
    font-size: clamp(24px, 5vw, var(--fs-xl));
}

h2 {
    font-size: clamp(var(--fs-sm-max), 4vw, var(--fs-lg));
}

/* Ссылки */

a {
    text-decoration: none;
    color: var(--color-accent)
}

/* Кит */

.underline {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 31px;
    align-items: center;
}

/* Кнопки */

button {
    border: 0;
}

.button {
    font-family: var(--fm-title);
    font-size: clamp(var(--fs-xs), 2.5vw, var(--fs-sm));
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: var(--color-ligth);
    border-radius: var(--border-radius);
    padding: 16px 36px;
    white-space: nowrap;
}

.button.primary {
    background-color: var(--color-red);
}

.button.primary:hover {
    background-color: var(--color-red-hover);
}

.button.primary:active {
    background-color: var(--color-red-pressed);
}

.button.secondary {
    background-color: var(--color-accent);
}

.button.secondary:hover {
    background-color: var(--color-accent-hover);
}

.button.secondary:active {
    background-color: var(--color-accent-pressed);
}

.icon-square-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(32px, calc(5.6vw + 6.4px), 48px);
    height: clamp(32px, calc(5.6vw + 6.4px), 48px);
    border-radius: 6px;
    color: var(--color-gray)
}

.icon-square-button.gray {
    background-color: var(--color-beige);
}

.icon-square-button.primary {
    background-color: var(--color-red);
}

.icon-square-button.primary:hover {
    background-color: var(--color-red-hover);
}

.icon-square-button.primary:active {
    background-color: var(--color-red-pressed);
}

/* Стартовая секция */

.start_page {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/header-background.jpg") no-repeat 0% 85%;
    background-size: 141%;

    @media (max-width: 1140px) {
        background-size: cover;
        background-position: center center;
    };
}

/* Шапка */

.header {
    background-color: var(--color-accent-rgba);
    width: 100%;
    display: flex;
    position: fixed;
    column-gap: 53px;
    top: 0;
    z-index: 1000;
}

.header-menu {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.header-menu-logos {
    display: flex;
    align-items: center;
}

.header-menu-logo {
    margin-right: clamp(12px, calc(12px + (53 - 12) * ((100vw - 880px) / (1290 - 880))), 53px);
}

.header-menu-logo-flylist {
    margin: 1px 0;
    width: clamp(63.52px, calc(5.6vw + 24.4px), 76px);
    height: clamp(28.33px, calc(2.5vw + 11.8px), 34px);
    min-width: 63.52px;
    min-height: 28.33px;
}

.header-menu-logo-alfacapital {
    margin: 1px 0;
    width: clamp(65.73px, calc(5.6vw + 24.4px), 78.65px);
    height: clamp(17.75px, calc(2.5vw + 11.8px), 21.3px);
    min-width: 65.73px;
    min-height: 17.75px;
}

.header-menu-button {
    display: flex;

    @media (min-width: 1065px) {
        display: none;
    }
}

.header-menu-list {
    display: flex;
    align-items: center;
    column-gap: clamp(12px, calc(12px + (53 - 12) * ((100vw - 880px) / (1290 - 880))), 53px);

    font-size: clamp(var(--fs-xs), 1.2vw, var(--fs-sm));

    list-style-type: none;

    justify-content: right;

    @media (min-width: 1065px) {
        justify-content: initial;
    };
}

.header-menu-item {
    display: flex;
}

@media (max-width: 1065px) {
    .header {
        background-color: var(--color-gray);
    }

    .header-menu {
        justify-content: space-between;
    }

    .header-menu-item {
        display: none;
    }
}

.header-menu-link {
    color: var(--color-ligth);
    transition-duration: var(--transition-duration);
    white-space: nowrap;
}

.header-menu-link:hover {
    color: var(--color-red-hover)
}

.header-menu-link:active {
    color: var(--color-red-pressed)
}

.header-menu-link.active {
    color: var(--color-red);
}

/* Мобильное меню */

/* Открытый хэдер */

.header.open {
    background-color: var(--color-gray); /* полностью серый фон */
    /*background-color: rgba(var(--color-accent-rgb), 0.7); !* прозрачный серый фон *!*/
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
}

.header.open .header-menu {
    align-items: normal;
    position: relative;
}

/* Меню в открытом состоянии */
.header.open .header-menu-list {
    position: absolute;
    top: calc(100% + 32px); /* на 32px ниже кнопки */
    right: 0; /* прибиваем к правому краю */
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 32px;
    width: auto;
    font-size: var(--fs-sm);
}

/* Показываем все пункты меню */
.header.open .header-menu-item {
    display: flex !important;
}

/* Скрыть логотип в открытом меню (если нужно) */
.header.open .header-menu-item:first-child {
    display: none;
}

/* Топ контент */

.top_content {
    /* margin вычисляется в скриптах */
    padding-top: clamp(42px, calc(6.33vw + 14px), 80px);
    padding-bottom: clamp(42px, calc(6.33vw + 14px), 80px);
}

.top_content-title {
    color: var(--color-ligth);
    margin-bottom: 16px;

    @media (min-width: 600px) {
        margin-bottom: 22px;
    };

    @media (min-width: 900px) {
        margin-bottom: 28px;
    };
}

.top_content-subtitle {
    color: var(--color-ligth);
}

.top_content-button {
    margin: 46px 0;

    @media (max-width: 600px) {
        margin: 42px 0;
    };

    @media (max-width: 900px) {
        margin-bottom: 44px;
    };
}

.top_content-button.top {
    display: block;

    @media (max-width: 600px) {
        display: none;
    };
}

.top_content-button.bottom {
    display: none;

    @media (max-width: 600px) {
        display: block;
    };
}

.top_content-suggestions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 28px;

    @media (min-width: 600px) {
        gap: calc(42px / 1.5);
        flex-direction: row;
        margin-top: 0;
    };

    @media (min-width: 900px) {
        gap: 42px;
        flex-direction: row;
    };
}

.top_content-suggestion {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (min-width: 600px) {
        gap: 10px;
    };

    @media (min-width: 900px) {
        gap: 20px;
    };
}

.top_content-suggestion-title, .top_content-suggestion-description {
    color: var(--color-ligth);
}

.top_content-suggestion-title {

}

.top_content-suggestion-description {

}

.top_content-contacts {
    display: none;
    align-items: center;
    gap: 20px;

    @media (max-width: 600px) {
        display: flex;;
    };
}

.top_content-contacts img {
    height: 32px;
}

.top_content-contacts a {
    color: var(--color-ligth);
}

/* Контент */

.content {
}

.content-section {
    margin-bottom: 80px;
}

.content-section-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-section-title {
    margin-bottom: 16px;
}

.content-section-title-next {

}

.content-section-title-next img {
    width: 28.8px;
    height: 22.4px;
}

.content-section-subtitle {
    margin-bottom: 28px;
}

.content-section-carousel {

}

/* Авторские туры */

.author_tours {

}

.author_tours-title {

}

.author_tours-subtitle {

}

.author_tours-carousel {
}

.author_tours-carousel .swiper-wrapper {
    display: flex;
}

.author_tours-card {
    display: block;
}

.author_tours-card-image {
    /*width: clamp(207px, calc(20vw + 137px), 410px);*/
    height: clamp(231px, calc(20vw + 137px), 493px);
    max-width: 100%;
    overflow: hidden;
    position: relative;

}

.author_tours-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.author_tours-descriptions {
    --line-height: 1.4;

    margin-top: auto;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(3em * var(--line-height));
}

.author_tours-suggestions {
    background-color: var(--color-beige);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 31px 36px;
    align-items: center;
}

.author_tours-suggestions h2 {
    grid-column: 1 / span 7;
    margin: 0;
}

.author_tours-suggestions button {
    grid-column: 10 / span 3;
    margin-left: auto;
    /*width: 100%;*/
}

@media (max-width: 1220px) {
    .author_tours-suggestions h2 {
        grid-column: 1 / span 8;
    }

    .author_tours-suggestions button {
        grid-column: 9 / span 5;
        margin-left: auto;
    }
}

@media (max-width: 875px) {
    .author_tours-suggestions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .author_tours-suggestions h2 {
        width: 100%;
        line-height: 1.4;
    }

    .author_tours-suggestions button {
        width: 100%;
        margin-left: 0;
    }
}

/* Маркетинг */

.marketing {
    background-color: var(--color-beige);
    padding-top: 80px;
    padding-bottom: 80px;
}

.marketing-content {
    grid-column: 1 / span 8;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
}

.marketing-title {
    margin: 0;
}

.marketing-subtitle {
    margin: 0;
}

.marketing-content button {
    padding: 16px 58.5px;
}

.marketing-image-wrapper {
    grid-column: 9 / span 4;
}

.marketing-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Пакетные туры */

.package_tours {

}

.package_tours-subtitle {

}


.package_tours-carousel {

}

.package_tours-carousel .swiper-wrapper {
    display: flex;
}

.package_tours-card {
    display: block;
}

.package_tours-card-image {
    /*width: clamp(207px, calc(20vw + 137px), 410px);*/
    height: clamp(118.79px, calc(20vw + 137px), 242px);
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.package_tours-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.package_tours-descriptions {
    --line-height: 1.4;

    margin-top: auto;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(2em * var(--line-height));
}

.package_tours-suggestions {
    background-color: var(--color-beige);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 31px 36px;
    align-items: center;
}

.package_tours-suggestions h2 {
    grid-column: 1 / span 7;
    margin: 0;
}

.package_tours-suggestions button {
    grid-column: 10 / span 3;
    margin-left: auto;
}

@media (max-width: 1220px) {
    .package_tours-suggestions h2 {
        grid-column: 1 / span 8;
    }

    .package_tours-suggestions button {
        grid-column: 9 / span 5;
        margin-left: auto;
    }
}

@media (max-width: 875px) {
    .package_tours-suggestions {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .package_tours-suggestions h2 {
        width: 100%;
        line-height: 1.4;
    }

    .package_tours-suggestions button {
        width: 100%;
        margin-left: 0;
    }
}