.card {
    background-color: var(--color-ligth);
    box-shadow: 0 5px 19.6px 0 rgba(0, 0, 0, 0.12);

    display: flex;
    flex-direction: column;
    height: 100%;

    border-radius: var(--border-radius);
    overflow: hidden;

    cursor: pointer;
}

.card-image {

}

.card-image img {
    width: 100%;
}

.card-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    gap: 6px;
    z-index: 10;
}

.card-badge-item {
    background: var(--color-ligth);
    color: var(--color-accent);
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: clamp(var(--fs-xs-min), calc(0.75vw + 8.3px), var(--fs-xs));
    font-weight: 300;
}

.card-content {
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-content-title {
    --line-height: 1.4;

    line-height: var(--line-height);
    /*min-height: calc(2em * var(--line-height));*/
}

.card-content-descriptions {
    font-weight: 300;
}

.card-content-link {
    color: var(--color-red);
    text-decoration: underline;
    align-self: flex-start;
}

.card_suggestion {
    background-color: var(--color-beige);
    padding: 20px;

}

.card_suggestion-content {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    align-items: flex-start;
}

.card_suggestion-image {
    grid-column: 3 / span 1;
    overflow: hidden;
    align-self: center;
    justify-self: center;
}