@font-face {
    font-family: 'NunitoSans';
    src: url("../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face  {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face  {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face  {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}