:root {

    /* Цвета */

    --color-ligth: #FFFFFF;
    --color-black: #000000;

    --color-gray: #565655;

    --color-primary: #E41D12;
    --color-primary-hover: #D61B11;
    --color-primary-pressed: #C0170E;

    --color-accent: #16181D;
    --color-accent-hover: #2E2525;
    --color-accent-pressed: #5E5959;

    --color-input: #9CA3AF;
    --color-header-gray: #393A3A;
    --color-beige: #F5F7FA;

    --color-accent-rgba: rgba(22, 24, 29, 0.7);

    --color-button_unactive: #B7B7B7;

    /*  Бордер  */

    --border-radius: 6px;

    /*  Шрифты  */

    --fm-base: 'HelveticaNeue', sans-serif;
    --fm-title: 'NunitoSans', sans-serif;

    --fs-xs-min: 11px;
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-sm-max: 18px;
    --fs-md: 20px;
    --fs-md-max: 24px;
    --fs-lg-min: 26px;
    --fs-lg: 32px;
    --fs-xl: 48px;

    /* Контейнер */

    --container-width: 1290px;
    --container-padding-x: 20px;

    /* Анмация */

    --transition-duration: 0.2s;

}

body.orange-theme {
    /* Цвета */

    --color-ligth: #FFFFFF;
    --color-black: #000000;

    --color-gray: #565655;

    --color-primary: #E41D12;
    --color-primary-hover: #D61B11;
    --color-primary-pressed: #C0170E;

    --color-accent: #16181D;
    --color-accent-hover: #2E2525;
    --color-accent-pressed: #5E5959;

    --color-input: #9CA3AF;
    --color-header-gray: #393A3A;
    --color-beige: #F5F7FA;

    --color-accent-rgba: rgba(22, 24, 29, 0.7);

    --color-button_unactive: #B7B7B7;
}